<div class="fluid-container">
  <div class="login_mid">
    <form [formGroup]="loginForm" class="loginform">
      <div class="image">
        <img src="./../../assets/image/m8 IT.jpg" alt="image" />
        <h4>Hey there! Welcome back. You can Log In to view your dashboard</h4>
      </div>
      <div class="content">
        <div class="form-group">
          <label>Your Email</label>
          <input type="text" class="form-control" formControlName="username" placeholder="Username -> Superadmin">
          <div
            *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)"
            class="errormsg">
              Please enter the email
          </div>
        </div>
        <div class="form-group space">
          <label>Your Password</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Password -> admin@123">
          <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="errormsg">
            <span>Please enter the Password</span> 
         </div>
        </div>
        <p>Forgot you password?<a routerLink="/forgot" class="forgot">Click here</a></p>
        <button type="submit" class="loginBtn" (click)="login()">Login</button>
      </div>
    </form>
  </div>
</div>