<div class="container">
    <h4>Create Item</h4>
    <form>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" class="form-control" id="name" [(ngModel)]="formdata.name">
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input type="text" name="city" class="form-control" id="city" [(ngModel)]="formdata.city">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" name="email" class="form-control" id="email" [(ngModel)]="formdata.email">
        </div>
        <button type="button" class="btn btn-primary" (click)="create()">Create</button>
    </form>
</div>
