
.fluid-container {
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .image{
    width: 100%;
    float: left;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
  
    img {
        width: 100%;
    }
  }
  .loginBtn{
    width: 100%;
    background: red;
    padding: 11px;
    border: 1px solid red;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    font-size: 20px;
  }
  .heading{
    width: 100%;
    float: left;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 35px;
  }
  
.login_mid {
    width: 100%;
    max-width: 400px;
    float: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.loginform  {
    width: 100%;
}

input{
    width: 100%;
    padding: 13px 0px 13px 3px;
    border-radius: 4px;
    color: grey;
    border: 2px solid grey;
    margin-bottom: 3px;
}
.content{
    padding: 0px;
}
.errormsg{
    color: red;
}
.space{
    margin-top: 20px;
}
