
<div class="fluid-container">
    <div class="login_mid">
      <form [formGroup]="forgotForm" class="loginform">
        <div class="image">
          <img src="./../../assets/image/forgot.jpg" alt="image" />
        </div>
        <div class="content">
          <div class="form-group space">
            <h6>Enter the email address associated with your account and we'll send you a link to reset your password</h6>
            <label>Email</label>
            <input type="password" class="form-control"  formControlName="password" placeholder="Enter your email">
          </div><br>
          
        <button type="button" class="btn btn-primary loginBtn" data-toggle="modal" data-target="#exampleModal">Submit</button>
        </div>
      </form>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
         
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6>Reset Password link has been Successfully send</h6> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="close()">Close</button>
         
        </div>
      </div>
    </div>
  </div>
    </div>
</div>
 

