<section class="wrapper">
    <div class="container-fostrap">
        <div>
            <img src="./../../assets/image/m8 IT.jpg" class="dash-logo" />
            <button class="logout" (click)="move()">Go to User Mangement</button>
            <h1 class="heading">
                Angular
            </h1>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <img src="./../../assets/image/card.svg">
                            <div class="card-content">
                                <h4 class="card-title">
                                    Angular Typescript
                                </h4>
                                <p class="">
                                    | When we are no longer able to change a situation - we are challenged to change
                                    ourselves. Spread love everywhere you go. Let no one ever come to you without
                                    leaving happier. Problems are not stop signs, they are guidelines.
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://www.tektutorialshub.com/angular-tutorial/"
                                    class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <img src="./../../assets/image/card.svg">
                            <div class="card-content">
                                <h4 class="card-title">
                                    Angular Tutorial
                                </h4>
                                <p class="">
                                    | When we are no longer able to change a situation - we are challenged to change
                                    ourselves. Spread love everywhere you go. Let no one ever come to you without
                                    leaving happier. Problems are not stop signs, they are guidelines.
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://www.tektutorialshub.com/angular-tutorial/"
                                class="btn btn-link btn-block">
                                Read More
                            </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">

                            <img src="./../../assets/image/card.svg" />

                            <div class="card-content">
                                <h4 class="card-title">
                                    Typescript Tutorial
                                </h4>
                                <p class="">
                                    | When we are no longer able to change a situation - we are challenged to change
                                    ourselves. Spread love everywhere you go. Let no one ever come to you without
                                    leaving happier. Problems are not stop signs, they are guidelines.
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://www.tektutorialshub.com/angular-tutorial/"
                                class="btn btn-link btn-block">
                                Read More
                            </a>
                            <!-- <a routerLink="/home">home</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
