<div class="container mt-4">
  <h2>User Management</h2>
  <button type="button" (click)="logout()" class="btn btn-danger" style="margin-top: -40px;float:right">Logout</button>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <h3 style="color:rgb(24, 224, 24)">User</h3>
    </div>
    <div class="d-flex me-3">
      <button class="btn btn-success" routerLink="/create">Add+</button>
    </div>
  </nav>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>City</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of allUser">
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.city}}</td>
        <td>{{item.email}}</td>
        <td><a class="btn btn-primar" [routerLink]="['/edit',item.id]">Edit</a>
          <button type="button" (click)="deleteItem(item.id)" class="btn btn-danger">Delete</button>
        </td>

      </tr>
    </tbody>
  </table>

</div>